
form {
   display: flex;
   flex-direction: column;
   gap: 10px;
   border-radius: 8px;
   padding: 10px;

   & input {
      outline: none;
      height: 30px;
      border-radius: 8px;
      padding-left: 10px;
      border: none;
   }

   & button {
      height: 40px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 8px;
      background-color: rgb(207, 11, 70);
      color: white;
      cursor: pointer;

      &:hover {
         background-color: white;
         color: rgb(207, 11, 70);
      }
   }
   & span {
      color: red;
   }

}


.navlink {
   width: 100%;
   display: flex;
   justify-content: center;
   text-decoration: none;
   color: black;
   background-color: white;
   height: 40px;
   align-items: center;
   color: rgb(207, 11, 70);
   border-radius: 8px;
   cursor: pointer;



   &:hover {
      background-color: rgb(207, 11, 70);
      color: white;
   }
}
.inputError {
   border: 2px solid red;
}
